#workskin blockquote {
  width: 80%;
  margin: 0 auto;
}

#workskin .text-center {
  text-align: center;
}

#workskin .italic {
  font-style: italic;
}

#workskin .sh {
  font-family: 'Courier New', monospace;
}

#workskin .blue {
  color: rgb(20, 142, 244);
}

#workskin .fadetoblue {
  background: linear-gradient(to bottom right, currentColor, rgba(20, 142, 244, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#workskin .green {
  color: rgb(60, 166, 51);
}

#workskin .fadetogreen {
  background: linear-gradient(to bottom right, currentColor, rgba(60, 166, 51, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#workskin .red {
  color: rgb(229, 85, 76);
}

#workskin .fadetored {
  background: linear-gradient(to bottom right, currentColor, rgba(229, 85, 76, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#workskin .vio {
  color: rgb(158, 109, 231);
}

#workskin .fadetovio {
  background: linear-gradient(to bottom right, currentColor, rgba(158, 109, 231, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#workskin .colors {
  background: linear-gradient(to right, rgb(229, 85, 76) 0%, rgb(158, 109, 231) 34%, rgb(20, 142, 244) 66%, rgb(60, 166, 51) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#workskin .colors-minus-red {
  background: linear-gradient(to right, rgb(158, 109, 231) 0%, rgb(20, 142, 244) 50%, rgb(60, 166, 51) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#workskin hr {
  border: none;
}

#workskin hr::before {
  content: '△ △ △';
  display: block;
  text-align: center;
}